---
import LayoutBase from "../layouts/LayoutBase.astro";
import Navigation from "../components/NavigationBlog.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import TableOfContent from "../components/TableOfContent.astro";

const { frontmatter, headings } = Astro.props;
---

<LayoutBase frontmatter={frontmatter}>
	<Navigation>
		<ThemeToggle />
	</Navigation>
	<main
		class="flex w-full flex-row justify-center bg-lightBackground px-6 text-lightText dark:bg-darkBackground dark:text-darkText"
	>
		<section class="w-full max-w-[1280px] py-6">
			<p
				class="bg-gradient-to-r from-cyan-500 to-blue-500 font-semibold text-lg text-transparent inline-block bg-clip-text"
			>
				{frontmatter.genre}
			</p>
			<h1 class="text-5xl font-extrabold">
				{frontmatter.title}
			</h1>
			<p>
				{frontmatter.description}
			</p>
			<img
				src={frontmatter.image}
				class="rounded-xl py-6"
				alt="Hello World Header"
			/>
			<TableOfContent headings={headings} />			
			<slot />
		</section>
	</main>
</LayoutBase>
